In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

Read data

In [5]:
cal_raw = pd.read_csv('data/calendar.csv')
cal_raw.head()

   listing_id        date available      price metro_area
0    16228948  2018-03-25         t  $3,000.00         LA
1    16228948  2018-03-24         t  $3,000.00         LA
2    16228948  2018-03-23         t  $3,000.00         LA
3    16228948  2018-03-22         t  $3,000.00         LA
4    16228948  2018-03-21         t  $3,000.00         LA

In [24]:
np.unique(cal_raw.metro_area.values)

array(['LA', 'oakland', 'portland', 'san_diego', 'san_francisco',
       'santa_cruz', 'seattle'], dtype=object)

In [6]:
demo_raw = pd.read_csv('data/demographics.csv')
demo_raw.head()

,city,state,population,5_years_or_less,5-9_years,10-14_years,15-19_years,20-24_years,25-34_years,35-44_years,...,"$10,000-$14,999","$15,000-$24,999","$25,000-$34,999","$35,000-$49,999","$50,000-$64,999","$65,000-$74,999","$75,000-$99,999","$100,000_or_more",median_household_income,mean_household_income
0,Abbeville,LA,20500,1740,1674,1221,1218,1611,2417,2113,...,8.0,21.7,18.6,15.9,12.1,5.6,7.2,6.2,22378,22378
1,Abbeville,SC,5046,399,199,334,318,426,485,490,...,2.2,15.7,36.1,18.6,12.2,3.9,6.5,2.8,18385,18385
2,Abbotsford,WI,3835,223,255,355,235,195,357,505,...,2.3,23.4,25.0,25.2,10.5,5.3,3.4,3.6,27139,27139
3,Aberdeen,MS,4483,362,301,250,180,326,658,501,...,10.5,19.4,32.2,19.6,11.5,0.0,2.2,2.1,19050,19050
4,Aberdeen,SD,27327,2004,1721,1667,1925,2304,4064,3027,...,3.2,14.3,23.6,27.4,13.8,5.8,5.3,4.5,29312,29312

In [8]:
eco_raw = pd.read_csv('data/econ_state.csv')
eco_raw.head()

,state,2005Q1_gdp,2005Q2_gdp,2005Q3_gdp,2005Q4_gdp,2006Q1_gdp,2006Q2_gdp,2006Q3_gdp,2006Q4_gdp,2007Q1_gdp,...,2016/03_ur,2016/04_ur,2016/05_ur,2016/06_ur,2016/07_ur,2016/08_ur,2016/09_ur,2016/10_ur,2016/11_ur,2016/12_ur
0,AL,153332,155940,157437,160293,161934,163974,165470,166495,166821,...,6.6,6.6,6.6,6.7,6.7,6.7,6.6,6.6,6.6,6.6
1,AK,37517,38907,40691,43138,42872,44653,45349,45840,46658,...,5.9,5.8,5.8,5.8,5.8,5.9,6.0,6.1,6.2,6.3
2,AZ,218206,224496,231629,235099,241787,244659,250886,256505,258078,...,4.1,4.1,4.1,4.1,4.0,4.0,4.0,4.0,4.0,3.9
3,AR,88446,89264,90515,93050,93413,95259,95481,95203,94289,...,5.5,5.4,5.3,5.3,5.2,5.1,5.1,5.0,5.0,5.0
4,CA,1722091,1747827,1787427,1809426,1857944,1865835,1886549,1907754,1915172,...,5.6,5.5,5.5,5.5,5.4,5.4,5.3,5.3,5.3,5.2

In [122]:
listing_raw = pd.read_csv('data/listings.csv', dtype = {'latitude': np.float64, 'longitude': np.float64})
listing_raw.head()

C:\Anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2683: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,accommodates,amenities,availability_30,bathrooms,bed_type,bedrooms,beds,cancellation_policy,city,has_availability,...,review_scores_checkin,review_scores_cleanliness,review_scores_communication,review_scores_location,review_scores_rating,review_scores_value,room_type,state,weekly_price,zipcode
0,10.0,"{""Wireless Internet"",""Air conditioning"",Pool,K...",27,7.0,Real Bed,5.0,5.0,strict,acton,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Entire home/apt,CA,NaN,93510
1,2.0,{},29,1.0,Real Bed,1.0,1.0,flexible,palmdale,NaN,...,10.0,10.0,10.0,9.0,93.0,9.0,Private room,CA,NaN,93550
2,2.0,"{""Wireless Internet"",""Air conditioning"",""Wheel...",18,1.0,Real Bed,1.0,1.0,flexible,acton,NaN,...,10.0,10.0,10.0,10.0,100.0,10.0,Private room,CA,NaN,93510
3,6.0,"{TV,""Wireless Internet"",""Air conditioning"",Poo...",3,1.0,Real Bed,1.0,3.0,flexible,acton,NaN,...,10.0,10.0,10.0,10.0,100.0,10.0,Entire home/apt,CA,NaN,93510
4,1.0,"{Internet,""Wireless Internet"",Kitchen,""Free pa...",0,1.0,Real Bed,1.0,1.0,flexible,los angeles,NaN,...,10.0,9.0,10.0,9.0,93.0,10.0,Private room,CA,NaN,90007

In [15]:
listing_raw[['price']]

           price
0      $3,000.00
1         $50.00
2         $55.00
3        $150.00
4         $30.00
5         $35.00
6         $45.00
7         $56.00
8        $350.00
9         $80.00
10       $120.00
11        $55.00
12        $50.00
13        $60.00
14        $50.00
15        $55.00
16        $80.00
17        $79.00
18       $100.00
19        $75.00
20        $59.00
21       $123.00
22        $32.00
23        $59.00
24       $115.00
25        $45.00
26        $56.00
27        $59.00
28        $50.00
29        $70.00
...          ...
56387     $65.00
56388     $45.00
56389     $39.00
56390     $23.00
56391    $120.00
56392     $40.00
56393    $175.00
56394     $30.00
56395     $70.00
56396    $175.00
56397     $65.00
56398    $135.00
56399     $89.00
56400    $125.00
56401     $75.00
56402     $80.00
56403     $75.00
56404     $75.00
56405     $48.00
56406    $140.00
56407     $46.00
56408     $70.00
56409     $85.00
56410    $350.00
56411     $80.00
56412     $75.00
56413     $75.00
56414     $99.00
56415    $110.00
56416    $107.00

[56417 rows x 1 columns]

In [11]:
estate_raw = pd.read_csv('data/real_estate.csv')
estate_raw.head()

,type,zipcode,city,state,metro,county,size_rank,1996-04,1996-05,1996-06,...,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06
0,ZHVI,10025,New York,NY,New York,New York,1,NaN,NaN,NaN,...,1137500,1137700,1152700,1156000.0,1140200,1130000,1131900,1149600,1198400,1247000
1,ZHVI,60657,Chicago,IL,Chicago,Cook,2,146700.0,146500.0,146300.0,...,318200,318100,318800,320200.0,320800,322000,323800,326100,327800,329100
2,ZHVI,60614,Chicago,IL,Chicago,Cook,3,198000.0,195500.0,194200.0,...,401900,406000,414100,417800.0,417400,418400,414100,404100,406400,415500
3,ZHVI,79936,El Paso,TX,El Paso,El Paso,4,70800.0,71000.0,71000.0,...,113800,113900,114100,114500.0,114900,115000,114700,114700,114800,114700
4,ZHVI,60640,Chicago,IL,Chicago,Cook,5,102300.0,101300.0,100700.0,...,198800,199200,200100,201500.0,203000,205100,206700,206500,206200,206700

In [124]:
venue_raw = pd.read_csv('data/venues.csv',dtype = {'latitude': np.float64, 'longitude': np.float64})
venue_raw.head()

,city,id,latitude,longitude,name,rating,types
0,los angeles,d789cdcf377d0f19fde4787626aad7f7bacb5ef4,33.947316,-118.087797,Valentino's,4.2,"['restaurant', 'food', 'point_of_interest', 'e..."
1,los angeles,4a374a02179547dd3473a7baa72e3da304889786,33.947716,-118.087653,Yoshinoya Beef Bowl Restaurant,3.7,"['restaurant', 'food', 'point_of_interest', 'e..."
2,los angeles,8394abd6375e16010dc627b2768043aba70d7f55,33.948102,-118.088423,Jersey Mike's Subs,4.4,"['meal_takeaway', 'restaurant', 'food', 'store..."
3,los angeles,0a094f8bb40bef7ea865d3ba41585c3098d4dae7,33.948290,-118.089438,Jack in the Box,3.3,"['restaurant', 'food', 'point_of_interest', 'e..."
4,los angeles,d7a8990c9365c2af17eb481a03ed0b9029759e80,33.948047,-118.090329,Veracruz Restaurant,4.4,"['restaurant', 'food', 'point_of_interest', 'e..."

# Listing

In [22]:
np.unique(listing_raw.city.values)

array(['acton', 'agoura hills', 'agua dulce', 'alhambra', 'alpine',
       'aptos', 'arcadia', 'artesia', 'avalon', 'azusa', 'baldwin park',
       'ballard', 'bel air', 'bell', 'bellflower', 'belmont shore',
       'ben lomond', 'berkeley', 'bernal heights', 'beverly hills',
       'bonita', 'bonny doon', 'boulder creek', 'bradbury', 'brookdale',
       'buena park', 'burbank', 'calabasas', 'canoga park', 'capitola',
       'carson', 'castaic', 'cerritos', 'chatsworth', 'chula vista',
       'city of commerce', 'claremont', 'commerce', 'compton',
       'corralitos', 'covina', 'culver city', 'cypress', 'daly city',
       'davenport', 'del aire', 'del mar', 'diamond bar', 'downey',
       'duarte', 'el monte', 'el segundo', 'emeryville', 'encino',
       'escondido', 'felton', 'freedom', 'gardena', 'glendale',
       'granada hills', 'granada hills california', 'gresham',
       'hacienda heights', 'harbor city', 'hawthorne', 'hermosa beach',
       'hollywood', 'houston', 'huntington park', 'imperial beach',
       'irvine', 'la cañada flintridge', 'la crescenta', 'la habra',
       'la jolla', 'la mesa', 'la puente', 'la selva beach', 'la verne',
       'lake balboa', 'lake hughes', 'lake oswego', 'lakeview terrace',
       'lakewood', 'lancaster', 'lawndale', 'lemon grove', 'lennox',
       'littlerock', 'long beach', 'los angeles', 'los feliz', 'los gatos',
       'malibu', 'manhattan beach', 'mar vista', 'milwaukie', 'mission',
       'mission beach', 'mission valley', 'monrovia', 'montebello',
       'monterey park', 'montrose', 'mount hermon', 'national city',
       'newhall', 'noe valley', 'north hollywood', 'northridge', 'norwalk',
       'oakland', 'ocean beach', 'oceanside', 'pacific beach san diego',
       'pacific palisades', 'pajaro dunes', 'palmdale', 'palo alto',
       'palos verdes estates', 'palos verdes peninsula', 'paramount',
       'phillips ranch', 'phinney ridge seattle', 'pico rivera',
       'piedmont', 'playa del rey', 'playa vista', 'pomona',
       'porter ranch', 'portland', 'private room near usc', 'quartz hill',
       'rancho palos verdes', 'rancho santa fe', 'redondo beach', 'reseda',
       'rio del mar', 'rockridge', 'rolling hills estates', 'rosemead',
       'rowland heights', 'rowlandheights', 'san diego', 'san dimas',
       'san fernando', 'san fernando valley', 'san francisco',
       'san gabriel', 'san leandro', 'san marino', 'san pedro',
       'santa barbara', 'santa clarita', 'santa cruz', 'santa fe springs',
       'santa monica', 'santee', 'scotts valley', 'seattle',
       'select cities', 'sf', 'shadow hills', 'sherman oaks',
       'sherwood forest', 'sierra madre', 'signal hill', 'silver lake',
       'solana beach', 'soquel', 'south pasadena', 'stevenson ranch',
       'stevenson rnh', 'studio city', 'sun valley', 'sunland', 'sylmar',
       'tarzana', 'temple city', 'terminal island', 'thousand oaks',
       'tijuana', 'toluca lake', 'toluca terrace', 'topanga', 'torrance',
       'tujunga', 'universal city', 'university heights', 'upland',
       'valencia', 'valley glen', 'valley village', 'valyermo', 'van nuys',
       'venice', 'walnut', 'watsonville', 'west hollywood', 'west seattle',
       'westchester', 'westlake village', 'westminster', 'whittier',
       'wilmington', 'windsor hills', 'winnetka', 'woodland hills',
       'wrightwood', 'лос'], dtype=object)

In [18]:
cal_raw.date.values[]

array(['2018-03-25', '2018-03-24', '2018-03-23', ..., '2017-04-09',
       '2017-04-08', '2017-04-07'], dtype=object)

In [23]:
demo_raw.columns

Index(['city', 'state', 'population', '5_years_or_less', '5-9_years',
       '10-14_years', '15-19_years', '20-24_years', '25-34_years',
       '35-44_years', '45-54_years', '55-59_years', '60-64_years',
       '65-74_years', '75-84_years', '85_years_or_more', 'households',
       '$9,999_or_less', '$10,000-$14,999', '$15,000-$24,999',
       '$25,000-$34,999', '$35,000-$49,999', '$50,000-$64,999',
       '$65,000-$74,999', '$75,000-$99,999', '$100,000_or_more',
       'median_household_income', 'mean_household_income'],
      dtype='object')

In [25]:
venue_raw

,city,id,latitude,longitude,name,rating,types
0,los angeles,d789cdcf377d0f19fde4787626aad7f7bacb5ef4,33.947316,-118.087797,Valentino's,4.2,"['restaurant', 'food', 'point_of_interest', 'e..."
1,los angeles,4a374a02179547dd3473a7baa72e3da304889786,33.947716,-118.087653,Yoshinoya Beef Bowl Restaurant,3.7,"['restaurant', 'food', 'point_of_interest', 'e..."
2,los angeles,8394abd6375e16010dc627b2768043aba70d7f55,33.948102,-118.088423,Jersey Mike's Subs,4.4,"['meal_takeaway', 'restaurant', 'food', 'store..."
3,los angeles,0a094f8bb40bef7ea865d3ba41585c3098d4dae7,33.948290,-118.089438,Jack in the Box,3.3,"['restaurant', 'food', 'point_of_interest', 'e..."
4,los angeles,d7a8990c9365c2af17eb481a03ed0b9029759e80,33.948047,-118.090329,Veracruz Restaurant,4.4,"['restaurant', 'food', 'point_of_interest', 'e..."
5,los angeles,2c8fa501806823aa24941d2223e62be98622792e,33.947278,-118.088244,Pescado Dorado,4.4,"['restaurant', 'food', 'point_of_interest', 'e..."
6,los angeles,8d590ff4f799950df75a097fae15f2ff89c28a07,33.947274,-118.087892,Wok Express,4.2,"['restaurant', 'food', 'point_of_interest', 'e..."
7,los angeles,ba8670de552816415357291e54525ce8f16c5f40,33.947121,-118.085162,Nikkoku America Inc,NaN,"['restaurant', 'food', 'point_of_interest', 'e..."
8,los angeles,eac68a36ce9ee2462ee4c4959b4af53cbef24a1d,33.949330,-118.089924,SUBWAYå¨Restaurants,4.2,"['restaurant', 'food', 'point_of_interest', 'e..."
9,los angeles,c166a1fb9b11d086f66a174be70368c5a8b11a9a,33.949075,-118.091014,Del Taco,3.4,"['meal_takeaway', 'restaurant', 'food', 'point..."
10,los angeles,2a26362277f9513ffb39afd8ebcbcd5e737e0787,33.949290,-118.089911,Casa Gazcon,4.2,"['restaurant', 'food', 'point_of_interest', 'e..."
11,los angeles,9d6a11736e610af10e7bc05c451128e795112cc6,33.975544,-118.084456,Lawrence,3.0,"['restaurant', 'food', 'point_of_interest', 'e..."
12,los angeles,f1bdd6749396be01720c53b37349b3bd64e805b1,33.979772,-118.088764,Munguias Mexican Restaruant,4.6,"['restaurant', 'food', 'point_of_interest', 'e..."
13,los angeles,8f70c48246b9b5798fc83faa5324ffb17fbd208a,33.980011,-118.089120,Taqueria Mi Ranchito Pico Rivera,4.8,"['restaurant', 'food', 'point_of_interest', 'e..."
14,los angeles,7dfcdcb2255f3c4bfa84642da7111ef729454b97,33.980021,-118.089247,Fruitibionicos Express,5.0,"['restaurant', 'food', 'point_of_interest', 'e..."
15,los angeles,ebd2ef21ca1f4d44839e19c5ee9b8af93caf0818,33.992540,-118.091175,Chuck E. Cheese's,4.0,"['restaurant', 'food', 'point_of_interest', 'e..."
16,los angeles,d541b38eb770c398421f1e227fdb20afb40ff8ac,33.992162,-118.091725,Mr Pepe's,4.7,"['restaurant', 'food', 'point_of_interest', 'e..."
17,los angeles,e5c3f4b06575f9465711f94932c5c0d09b85a145,33.991701,-118.090653,Kongs Donuts,4.5,"['restaurant', 'food', 'point_of_interest', 'e..."
18,los angeles,c3bc1e1bea3f7417de7d0b7b48342bcc4b5b6ffa,33.991277,-118.091591,BIRRIERIA JALISCO PICO RIVERA,5.0,"['restaurant', 'food', 'point_of_interest', 'e..."
19,los angeles,f53177527250f4a0930eb00a81038b772254b7ae,34.001444,-118.086893,SUBWAYå¨Restaurants,3.7,"['restaurant', 'food', 'point_of_interest', 'e..."
20,los angeles,fa0965033dc78c44fc6e748c681848632b837d2d,34.000140,-118.084456,Burger King,3.5,"['restaurant', 'food', 'point_of_interest', 'e..."
21,los angeles,5fcd1d02ec54dabbd47d2f75d3328175ac2380d7,33.999227,-118.083866,El Pollo Loco,4.5,"['restaurant', 'food', 'point_of_interest', 'e..."
22,los angeles,99b8e4953d06f6025761e3e8f6a6e0c06e03dd72,34.000598,-118.085303,Curry Hut - Express Indian Food,4.6,"['restaurant', 'food', 'point_of_interest', 'e..."
23,los angeles,f988ec91a5924b741baa3ca505d7035061db09d9,34.001422,-118.087643,El Zipote Restaurant,3.2,"['restaurant', 'food', 'point_of_interest', 'e..."
24,los angeles,f1558c78457e52591d86724264a57f489b786b3d,33.999522,-118.084344,Marlin Seafood,5.0,"['restaurant', 'food', 'point_of_interest', 'e..."
25,los angeles,0664c427263a3b44c9062a73bae5834f12673137,34.002738,-118.086098,Little Caesars Pizza,3.9,"['meal_takeaway', 'restaurant', 'food', 'point..."
26,los angeles,161578ec2c2d8a90270f6e80adbeef2a19e1b286,34.001227,-118.084305,Chipotle Mexican Grill,3.6,"['restaurant', 'food', 'point_of_interest', 'e..."
27,los angeles,c00965f12bfac219e918f1ec9fdf09f0c4debcfc,34.003318,-118.090481,Chop Teriyaki,4.5,"['restaurant', 'food', 'point_of_interest', 'e..."
28,los angeles,ae85c7510c10f7b108fb583534f1ecc0c9186738,34.002973,-118.088409,Denny's,3.7,"['restaurant', 'food', 'point_of_interest', 'e..."
29,los angeles,61e687a237cd5297cf750a1abad119a4fd501340,34.003060,-118.090648,Casa Garcia,4.0,"['restaurant', 'food', 'store', 'point_of_inte..."
...,...,...,...,...,...,...,...
165955,portland,8ee35c0db2549c3323ecf998c7c1cf77bb2bff56,45.556420,-122.850250,Travel Marketing Inc,NaN,"['travel_agency', 'point_of_interest', 'establ..."
165956,portland,26f4333c6a728855004484652a9aa2c6e78443e0,45.459583,-122.864563,Seamaster Cruises,NaN,"['travel_agency', 'point_of_interest', 'establ..."
165957,portland,e923b5f3ce42b70f5b83724e8ff59473dd46e799,45.464644,-122.880994,Chuck & Crystal Dream Vacations,NaN,"['travel_agency', 'point_of_interest', 'establ..."
165958,portland,a433d387b99ab82a74b2601ed814df756e099cad,45.474554,-122.869313,"Darlyne's Travel Service, LLC",NaN,"['travel_agency', 'health', 'point_of_interest..."
165959,portland,61b6576b1b56f4171bef00603f461dbcefa33b56,45.493862,-122.872683,Aloha Travel & Cruises,NaN,"['travel_agency', 'point_of_interest', 'establ..."
165960,portland,1536b0d755ca4695dc22349c77edf13bbeb46d4c,45.494781,-122.868566,Oregon Good Time Travel,NaN,"['travel_agency', 'point_of_interest', 'establ..."
165961,portland,bdb438dbdbeb2b8c6103c3178436531a0e726c74,45.519592,-122.865437,Martin & Martin,NaN,"['travel_agency', 'point_of_interest', 'establ..."
165962,portland,911644763987aefb7248051586dd20a02d841319,45.529255,-122.870041,International Travel & Tours,5.0,"['travel_agency', 'point_of_interest', 'establ..."
165963,portland,4d77b2219730336a86132677f8b065d2ebe5afde,45.535402,-122.903786,AAA Hillsboro Service Center,NaN,"['travel_agency', 'insurance_agency', 'point_o..."
165964,portland,394b1c51b2ddecb8a197382599077dd4dda911d2,45.531518,-122.886326,landonsea,NaN,"['travel_agency', 'point_of_interest', 'establ..."
165965,portland,061603ffe7c71ee43617e3eeee5058f25cf914ff,45.686100,-122.904600,Skamania Lodge Information Center,NaN,"['travel_agency', 'point_of_interest', 'establ..."
165966,portland,b3ab0c2712bf3195a3b8dd02bac88f33799e3a25,45.510840,-122.916584,American Express Agent,NaN,"['travel_agency', 'point_of_interest', 'establ..."
165967,portland,b73b668dcf51eb5ad282e857f68d68ac9f25b307,45.525188,-122.917104,Smooth Travel,NaN,"['travel_agency', 'point_of_interest', 'establ..."
165968,portland,168201784ec5edf9213b4ffbe844eb79532e966a,45.533294,-122.916126,Jumping Cow Culinary Tours Llc,NaN,"['travel_agency', 'point_of_interest', 'establ..."
165969,portland,f6ce5c7f09da8ff50b9d058930e56d6d43d3d208,45.673694,-122.919145,Sky Ranch Stables,3.8,"['travel_agency', 'point_of_interest', 'establ..."
165970,portland,ed509b9608298037d6d9b8f25097fe39c24b3cae,45.698438,-122.601355,Village on the Glen Trail,NaN,"['park', 'zoo', 'point_of_interest', 'establis..."
165971,portland,4cc106a2c82fd946e3b105c8faf794ffd15065c9,45.576663,-122.677512,The Branimal Kingdom,NaN,"['zoo', 'point_of_interest', 'establishment']"
165972,portland,89b32dd5e775c5e1f8527d216c6f671dd6d18a96,45.510042,-122.715901,Oregon Zoo,4.4,"['zoo', 'point_of_interest', 'establishment']"
165973,portland,d6a16bd5ddd725ff4d1e5fc21392fb104a85d5dc,45.508503,-122.713044,WA Park Zoo,NaN,"['zoo', 'point_of_interest', 'establishment']"
165974,portland,5b477b592c1ebf404375008514652a5ecd5e2571,45.508907,-122.716038,Nature Exploration Station,NaN,"['zoo', 'point_of_interest', 'establishment']"
165975,portland,479214ae57a4a83db0b347932cc01f5daca371ee,45.576225,-122.760504,Parks and Wildlife Service,NaN,"['park', 'zoo', 'point_of_interest', 'establis..."
165976,portland,ca283a8c936d8265ef6780b07f0449cf9fd5cf75,45.431156,-122.582287,North Clackamas Aquatic Park,4.4,"['amusement_park', 'point_of_interest', 'estab..."
165977,portland,4f3f5925f22d3cd4beffe918c016736bac5de4f2,45.641745,-122.619295,Sky Zone Trampoline Park,4.2,"['amusement_park', 'point_of_interest', 'estab..."
165978,portland,58c2fa6e64b2b1685f75f46afc6a5ff27c206e41,45.472407,-122.662636,Oaks Amusement Park,4.3,"['amusement_park', 'point_of_interest', 'estab..."
165979,portland,acd311f050cee76ea9dafb75b9e58683a48bc0f2,45.472015,-122.662128,Chipper's Preschool Rides Party,5.0,"['amusement_park', 'point_of_interest', 'estab..."
165980,portland,398d916bda69e02aa466bcdd1cc238cb13cd862d,45.514880,-122.664073,60 Minutes to Escape,4.6,"['amusement_park', 'point_of_interest', 'estab..."
165981,portland,ddee786f3aa16cb59b2dda6a6070ae9ba2eb4921,45.506255,-122.673079,Tom Mccall Park,5.0,"['amusement_park', 'point_of_interest', 'estab..."
165982,portland,ec383fe23f25be9b07a04c848dcdb9fa05b16556,45.526442,-122.697860,Brownstone,NaN,"['amusement_park', 'point_of_interest', 'estab..."
165983,portland,77a7841e365631cd5d9c60f69e222a25e70c236d,45.467482,-122.768732,hewett construction LLC,2.0,"['amusement_park', 'point_of_interest', 'estab..."
165984,portland,0363a5d669c5a00c8c3da2a038bb25784e42ffed,45.529591,-122.820213,Sunset Athletic Club,4.6,"['amusement_park', 'point_of_interest', 'estab..."

In [31]:
len(np.unique(listing_raw.id.values)) / len(listing_raw.id)

1.0

In [ ]:
for i in np.arange(len(listing_raw)):
    for j in np.arange(len(venue_raw)):
        print(venue_raw[j].id)

In [49]:
venue_places = venue_raw[['longitude', 'latitude', 'types']]

In [125]:
type_list = []
all_faci_list = []
for index, row in venue_places.iterrows():
    s = row['types'].lstrip('[')
    s = s.rstrip(']')
    sl = s.split(',')
    tmp = []
    for s in sl:
        s = s.lstrip('\'').rstrip('\'').replace('\'', '').strip()
        tmp.append(s)
        if s in type_list:
            continue
        type_list.append(s)
    all_faci_list.append(tmp)

full_list = ['latitude', 'longitude'] + type_list

In [155]:
type_list

['restaurant',
 'food',
 'point_of_interest',
 'establishment',
 'meal_takeaway',
 'store',
 'meal_delivery',
 'cafe',
 'bakery',
 'bar',
 'night_club',
 'convenience_store',
 'gas_station',
 'atm',
 'finance',
 'bowling_alley',
 'car_wash',
 'movie_theater',
 'shopping_mall',
 'clothing_store',
 'grocery_or_supermarket',
 'lodging',
 'travel_agency',
 'gym',
 'spa',
 'health',
 'liquor_store',
 'art_gallery',
 'car_repair',
 'home_goods_store',
 'casino',
 'school',
 'park',
 'book_store',
 'hair_care',
 'beauty_salon',
 'shoe_store',
 'furniture_store',
 'storage',
 'courthouse',
 'laundry',
 'real_estate_agency',
 'department_store',
 'church',
 'place_of_worship',
 'accounting',
 'plumber',
 'general_contractor',
 'local_government_office',
 'political',
 'pharmacy',
 'jewelry_store',
 'parking',
 'dentist',
 'bank',
 'bicycle_store',
 'electronics_store',
 'doctor',
 'aquarium',
 'pet_store',
 'library',
 'museum',
 'painter',
 'hardware_store',
 'lawyer',
 'university',
 'funeral_home',
 'moving_company',
 'florist',
 'amusement_park',
 'synagogue',
 'premise',
 'rv_park',
 'campground',
 'insurance_agency',
 'car_rental',
 'veterinary_care',
 'zoo',
 'natural_feature',
 'city_hall',
 'cemetery',
 'train_station',
 'transit_station',
 'bus_station',
 'hospital',
 'physiotherapist',
 'stadium',
 'subway_station',
 'light_rail_station',
 'car_dealer',
 'movie_rental',
 'roofing_contractor',
 'locksmith',
 'electrician',
 'post_office',
 'subpremise',
 'airport',
 'police',
 'neighborhood',
 'embassy',
 'taxi_stand']

In [126]:
out_faci = pd.DataFrame(np.zeros((len(venue_places), len(full_list))), columns = full_list)

for index, row in venue_places.iterrows():
    out_faci.iloc[index]['longitude'] = row['longitude']
    out_faci.iloc[index]['latitude'] = row['latitude']
    out_faci.iloc[index][all_faci_list[index]] = 1
                     
out_faci

,latitude,longitude,restaurant,food,point_of_interest,establishment,meal_takeaway,store,meal_delivery,cafe,...,roofing_contractor,locksmith,electrician,post_office,subpremise,airport,police,neighborhood,embassy,taxi_stand
0,33.947316,-118.087797,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,33.947716,-118.087653,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,33.948102,-118.088423,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,33.948290,-118.089438,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,33.948047,-118.090329,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,33.947278,-118.088244,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,33.947274,-118.087892,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,33.947121,-118.085162,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,33.949330,-118.089924,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,33.949075,-118.091014,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,33.949290,-118.089911,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,33.975544,-118.084456,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,33.979772,-118.088764,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,33.980011,-118.089120,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,33.980021,-118.089247,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,33.992540,-118.091175,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,33.992162,-118.091725,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,33.991701,-118.090653,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,33.991277,-118.091591,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,34.001444,-118.086893,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,34.000140,-118.084456,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,33.999227,-118.083866,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,34.000598,-118.085303,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,34.001422,-118.087643,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,33.999522,-118.084344,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,34.002738,-118.086098,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,34.001227,-118.084305,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,34.003318,-118.090481,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,34.002973,-118.088409,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,34.003060,-118.090648,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165955,45.556420,-122.850250,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165956,45.459583,-122.864563,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165957,45.464644,-122.880994,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165958,45.474554,-122.869313,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165959,45.493862,-122.872683,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165960,45.494781,-122.868566,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165961,45.519592,-122.865437,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165962,45.529255,-122.870041,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165963,45.535402,-122.903786,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165964,45.531518,-122.886326,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165965,45.686100,-122.904600,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165966,45.510840,-122.916584,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165967,45.525188,-122.917104,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165968,45.533294,-122.916126,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165969,45.673694,-122.919145,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165970,45.698438,-122.601355,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165971,45.576663,-122.677512,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165972,45.510042,-122.715901,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165973,45.508503,-122.713044,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165974,45.508907,-122.716038,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165975,45.576225,-122.760504,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165976,45.431156,-122.582287,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165977,45.641745,-122.619295,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165978,45.472407,-122.662636,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165979,45.472015,-122.662128,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165980,45.514880,-122.664073,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165981,45.506255,-122.673079,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165982,45.526442,-122.697860,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165983,45.467482,-122.768732,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165984,45.529591,-122.820213,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [127]:
out_faci['city'] = venue_raw['city'].values

In [79]:
out_faci.shape

(165985, 104)

In [128]:
listing_pure = listing_raw[['id', 'latitude', 'longitude', 'city']]

In [129]:
listing_pure

             id   latitude   longitude         city
0      16228948  34.530350 -118.227088        acton
1       8909380  34.485431 -118.125380     palmdale
2      14078522  34.510130 -118.212407        acton
3      13006928  34.515486 -118.230742        acton
4       7898757  34.031419 -118.299016  los angeles
5      11254337  34.026601 -118.293544  los angeles
6      16068508  34.032502 -118.297748  los angeles
7        654641  34.028899 -118.299976  los angeles
8      14859779  34.035359 -118.299137  los angeles
9       4839375  34.027019 -118.302472  los angeles
10     14281484  34.030401 -118.307196  los angeles
11      8428885  34.036680 -118.294420  los angeles
12      1557529  34.032655 -118.297711  los angeles
13     18042820  34.026937 -118.293642  los angeles
14      5393269  34.026429 -118.303386  los angeles
15      5851860  34.028205 -118.302192  los angeles
16     17144596  34.028524 -118.298771  los angeles
17      6153123  34.030587 -118.299548  los angeles
18     13748272  34.031980 -118.302223  los angeles
19      4172374  34.033274 -118.307857  los angeles
20      9174553  34.035525 -118.297766  los angeles
21      2516036  34.025986 -118.299723  los angeles
22      9303822  34.028205 -118.291779  los angeles
23     17808419  34.035756 -118.298376  los angeles
24      3052357  34.032294 -118.304134  los angeles
25     15236748  34.032499 -118.298131  los angeles
26      1471992  34.032356 -118.299849  los angeles
27      1552495  34.031454 -118.299893  los angeles
28     18111734  34.026897 -118.307003  los angeles
29      9167855  34.028397 -118.296174  los angeles
...         ...        ...         ...          ...
56387   2950282  45.448873 -122.721609     portland
56388   4296450  45.450536 -122.723393     portland
56389  17330312  45.445080 -122.725825     portland
56390   9202660  45.447570 -122.722297     portland
56391   3752703  45.447471 -122.719058     portland
56392   3677517  45.446476 -122.718228     portland
56393  14968135  45.442166 -122.720746     portland
56394  16016823  45.448187 -122.722296     portland
56395   7460017  45.458954 -122.683852     portland
56396  13953941  45.461605 -122.686240     portland
56397  14108408  45.453203 -122.688241     portland
56398  13954904  45.453202 -122.682313     portland
56399   4202516  45.452806 -122.675916     portland
56400  17233475  45.457244 -122.680926     portland
56401  17686062  45.458157 -122.681655     portland
56402  13893505  45.461059 -122.686024     portland
56403  17447356  45.456026 -122.725547     portland
56404  15759065  45.453224 -122.732191     portland
56405   9922895  45.453649 -122.731295     portland
56406  10973119  45.444271 -122.709032     portland
56407  12548007  45.441281 -122.697402     portland
56408  10230029  45.445301 -122.708912     portland
56409   7918004  45.444672 -122.697536     portland
56410   7366834  45.446538 -122.702269     portland
56411   8569166  45.437721 -122.710956     portland
56412  14886404  45.437542 -122.740271     portland
56413  17792384  45.434557 -122.729974  lake oswego
56414   6976600  45.441046 -122.735728     portland
56415   4077103  45.545697 -122.639108     portland
56416  17606658  45.431240 -122.706099  lake oswego

[56417 rows x 4 columns]

In [98]:
cities = np.unique(out_faci.city.values)
cities

array(['los angeles', 'oakland', 'portland', 'san diego', 'san francisco',
       'santa cruz', 'seattle'], dtype=object)

In [154]:
for city in cities:
    print(city, listing_pure[listing_pure.city == city].shape[0], out_faci[out_faci.city == city].shape[0])

los angeles 19515 66492
oakland 1611 14495
portland 3541 29461
san diego 6207 14174
san francisco 8684 23974
santa cruz 451 2861
seattle 3814 14528

In [130]:
listing_pure_ol = listing_pure[listing_pure.city == 'oakland']

In [131]:
out_faci_ol = out_faci[out_faci.city == 'oakland']

In [132]:
listing_pure_ol.head()

             id   latitude   longitude     city
31211   6628575  37.805924 -122.288882  oakland
31212   6093412  37.805462 -122.285417  oakland
31213   1914602  37.810594 -122.258589  oakland
31214  12809757  37.812652 -122.251141  oakland
31215   1759482  37.813806 -122.251970  oakland

In [133]:
out_faci_ol.head()

,latitude,longitude,restaurant,food,point_of_interest,establishment,meal_takeaway,store,meal_delivery,cafe,...,locksmith,electrician,post_office,subpremise,airport,police,neighborhood,embassy,taxi_stand,city
66492,37.720291,-122.191531,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,oakland
66493,37.720224,-122.192784,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,oakland
66494,37.723241,-122.187675,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,oakland
66495,37.729818,-122.194475,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,oakland
66496,37.730004,-122.193474,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,oakland

In [114]:
threshold = 0.0000135215   # 4 blocks distance

In [149]:
listing_pure_ol_val = listing_pure_ol.values
out_faci_ol_val = out_faci_ol.values
res = []
for i in np.arange(listing_pure_ol_val.shape[0]):
    lati = listing_pure_ol_val[i][1]
    longi = listing_pure_ol_val[i][2]
    tmp = []
    for j in np.arange(out_faci_ol_val.shape[0]):
        dist = (lati - out_faci_ol_val[j][0])**2 + (longi - out_faci_ol_val[j][1])**2
        if dist < threshold:
            tmp.append(out_faci_ol_val[j][2:-1])
    tmp = np.array(tmp)
    i_res = tmp.sum(axis = 0) > 0
    i_res = np.append(np.array(listing_pure_ol_val[i][0]), i_res)
    res.append(i_res)

In [151]:
col_name = ['id'] + type_list
final_res = pd.DataFrame(res, columns = col_name)
final_res

,id,restaurant,food,point_of_interest,establishment,meal_takeaway,store,meal_delivery,cafe,bakery,...,roofing_contractor,locksmith,electrician,post_office,subpremise,airport,police,neighborhood,embassy,taxi_stand
0,6628575,0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6093412,1,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1914602,1,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,12809757,1,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1759482,0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1515858,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,7734264,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,10528297,1,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,10839688,0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1699190,1,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,10825161,1,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,3198532,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,342204,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,3921382,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,3924119,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,7332795,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,10682665,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,8636310,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1354419,1,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,10972549,0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,9461020,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,8647513,1,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,9761709,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,1160481,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,10999089,1,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,5783260,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,1382703,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,1803059,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,6224963,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,10308113,0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581,8554689,1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1582,6937585,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1583,7462134,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1584,4275911,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1585,155368,0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1586,9805697,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1587,6856384,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1588,7413350,0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1589,6102300,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1590,11720074,0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1591,6346622,0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1592,5059563,0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1593,9859814,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1594,8505824,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1595,9845901,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1596,7636973,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1597,5925787,0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1598,5758213,0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1599,4695379,0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1600,828695,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1601,7853483,0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1602,8553828,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1603,5078831,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1604,10970866,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1605,11651349,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1606,9566035,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1607,1613352,1,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1608,10282144,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1609,6250056,1,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1610,7682425,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
final_res.to_csv('data/out_oakland_out_facility.csv')

In [139]:
a = np.zeros((4, 5))
a[2, 2:4] = 1
a[3, 1:3] = 1
a

array([[ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  1.,  0.],
       [ 0.,  1.,  1.,  0.,  0.]])

In [141]:
a.sum(axis = 0) > 0

array([False,  True,  True,  True, False], dtype=bool)

In [ ]:
def get_out_facility_info(city):
    listing_pure_city = listing_pure[listing_pure.city == city]
    out_faci_city = out_faci[out_faci.city == city]
    
    threshold = 0.0000135215   # 4 blocks distance
    
    listing_pure_city_val = listing_pure_city.values
    out_faci_city_val = out_faci_city.values
    res = []
    for i in np.arange(listing_pure_city_val.shape[0]):
        lati = listing_pure_city_val[i][1]
        longi = listing_pure_city_val[i][2]
        tmp = []
        for j in np.arange(out_faci_city_val.shape[0]):
            dist = (lati - out_faci_city_val[j][0])**2 + (longi - out_faci_city_val[j][1])**2
            if dist < threshold:
                tmp.append(out_faci_city_val[j][2:-1])
        tmp = np.array(tmp)
        i_res = tmp.sum(axis = 0) > 0
        i_res = np.append(np.array(listing_pure_city_val[i][0]), i_res)
        res.append(i_res)
        
    return res